* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  background-color: #181818;
  color: #f6f6f6;
}

a {
  color: #f6f6f6;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

i {
  font-size: 2.5rem;
}

.Header {
  height: 10vh;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.Header__logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
.Header__search {
  display: flex;
  gap: 10px;
}
.Header__search-container {
  background-color: #4b4b4b;
  width: 500px;
  border: 1px solid #4b4b4b;
  display: flex;
}
.Header__input {
  color: white;
  font-size: 1.6rem;
  width: 88%;
  padding: 0 8px;
  border: none;
  background-color: #121212;
}
.Header__input:focus {
  outline: 0.5px solid #3ea6ff;
}
.Header__form {
  display: flex;
}
.Header__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.Header__button {
  background-color: transparent;
  border: none;
  color: #f6f6f6;
  cursor: pointer;
}
.Header__button-blue {
  font-size: 1.4rem;
  font-weight: 600;
  width: 96px;
  border: 1px solid #3ea6ff;
  padding: 8px 2px;
  color: #3ea6ff;
  border-radius: 2PX;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.Header__button-microphone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #121212;
}
.Header__button-lupa {
  width: 12%;
}

.fa-bars,
.fa-magnifying-glass,
.fa-microphone,
.fa-ellipsis-vertical {
  font-size: 1.8rem;
}

.style-scope-you,
.style-scope-menu {
  fill: #f6f6f6;
}

.style-scope-profile {
  fill: #3ea6ff;
}

.Main {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-areas: "sidebar main" "sidebar videos";
  grid-template-columns: 18% 82%;
  grid-template-rows: 8vh auto;
}

.Aside {
  grid-area: sidebar;
  background-color: #202020;
  width: 100%;
}
.Aside__list {
  padding: 10px 0;
  border-bottom: 1px solid #4b4b4b;
  width: 100%;
}
.Aside__list--item {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  gap: 30px;
}
.Aside__list--item:hover {
  background-color: #4b4b4b;
}
.Aside__list--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aside__list--icon i {
  font-size: 1.6rem;
}

.Tags {
  grid-area: main;
  display: flex;
  width: 100%;
  background-color: #202020;
  border-top: 0.5px solid #4b4b4b;
  border-bottom: 0.5px solid #4b4b4b;
  height: 8vh;
  padding-left: 10px;
}
.Tags__list {
  height: 100%;
  min-width: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.Tags__list li a {
  background-color: #363636;
  border: 0.2px solid #4b4b4b;
  border-radius: 20px;
  padding: 4px 8px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Tags__list li a:hover {
  color: black;
  border: none;
  background-color: #f6f6f6;
}
.Tags__list li:first-child a {
  border: none;
  color: black;
  background-color: #f6f6f6;
}

.Videos {
  grid-area: videos;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 220px;
  grid-auto-flow: row;
  padding: 20px 30px;
  gap: 20px;
  overflow-y: scroll;
}

.Video {
  min-width: 240px;
  max-width: 300px;
  max-height: 220px;
}
.Video__image {
  height: 66%;
  position: relative;
  overflow: hidden;
}
.Video__image img {
  object-fit: cover;
  width: 100%;
}
.Video__timer {
  position: absolute;
  right: 6px;
  bottom: 12px;
  background-color: #121212;
  padding: 2px;
  border-radius: 2px;
}
.Video__info {
  display: grid;
  grid-template-columns: 16% 80%;
  padding: 10px;
}
.Video__title {
  margin-bottom: 10px;
}
.Video__text {
  display: block;
  font-size: 1.2rem;
}

.fa-circle-user {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .Aside {
    display: none;
  }

  .Tags {
    display: none;
  }

  .Header__search {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
